<h2>New Artisan Request</h2>
<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phone}}</p>
<p><strong>Address:</strong> {{address}}</p>
<p><strong>title:</strong> {{title}}</p>
<p><strong>Problem:</strong> {{problem}}</p>
<p>Received at: {{createdAt}}</p>
